{% extends 'base.html' %}

{% load static %}


{% block container %}


<section class="section-top">
    <!-- rellax - higest is 10 and lowest is -10 -->
    <div class="content rellax" data-rellax-speed="5">
        <h1>Talk_2_Us</h1>
        <p><b>Hey visitors !!😄</b>
            <br>
            If you are looking for an exclusive chatting website with lots of interesting blogs and stories to read, you
            are at the right place.
            Remove your mental stress by chatting with strangers and keeping your identity hidden. Our blogs and stories
            mainly focus on mental health issues
            which can help you learn from their experience.<br>Connect with us.
        </p>
        <a href="#" class="btn">More info</a>
    </div>
</section>
<section class="section-stream">
    <img src="{% static '/photo/t2sbg.png'%}" alt="the website logo" class="play rellax" data-rellax-speed="0"
        data-rellax-xs-speed="3">
    <div class="content rellax" data-rellax-speed="10">
        <div>
            <h2 class="secondary-text">What We Do</h2>
            <p>We hope you are doing well and if not..then don't worry you came to the right place. We care for you, the
                emotions which make you,
                and everything beyond that. We care for your inner peace and stability.
                So we'll help you in maintaining that and maintaining your spiritual connection with yourself😇.</p>
        </div>
        <div>
            <h2 class="secondary-text">About Our Team</h2>
            <p>Our team is a bunch of new-age developers who are stepping into this field with Some knowledge and a lot
                of enthusiasm with
                the motive of making this a non-judgemental platform for mental health survivors.We will be here every
                step of the way to help you😊.</p>
        </div>
    </div>
</section>
<section class=" section section-grid">
    <div class="rellax" data-rellax-speed="1" data-rellax-xs-speed="3">
        <a href="{% url 'blog:blog_list' %}">

            <!-- icon -->
            <i class="fas fa-video fa-3x secondary-text"></i>
            <h2>Blogs <span class="secondary-text dot">.</span></h2>
            <p>"Mental health...is not a destination, but a process.It's about how you drive, not where you're going."
                <br>
                <b> We Care For You :)</b>
            </p>
        </a>
    </div>
    <div class="rellax" data-rellax-speed="4" data-rellax-xs-speed="3">
        <a href="{% url 'chat' %}">
            <i class="fas fa-users fa-3x secondary-text"></i>
            <h2>Chat <span class="secondary-text dot">.</span></h2>
            <p>"What mental health needs is more sunlight,more candor,more unashamed conversation."
                <br>
                <b>We Are Always There For You 💖</b>
            </p>
        </a>
    </div>
    <div class="rellax" data-rellax-speed="7" data-rellax-xs-speed="3">
        <a href="{% url 'stories:stories_list' %}">
            <i class="fas fa-book fa-3x secondary-text"></i>
            <h2>Stories<span class="secondary-text dot">.</span></h2>
            <p>Need more inspiration? Here are some real stories of people and their experiences.
                <br>
                <b>We Can Help You 😇</b>
            </p>
        </a>
    </div>

</section>

{% endblock %}