{% extends 'base.html' %}

{% load static %}


{% block container %}

<section class="story_details">
    <div class="flex-container-middle">
        <h1>STORIES</h1>
    </div>

    <button class="story-submit"><a href="{% url 'stories:story_form' %}">Submit your story</a></button>
    {% for story in stories %}
    <div class="story-content">
        <h1 class="story">{{ story.title }}</h1>
        <span class="author-name"><small>AUTHOR: {{story.name}}</small></span>
        <p class="story-brief">{{story.body}}
    </div>
    {% endfor %}
</section>
{% endblock %}