{% extends 'base.html' %}
{% load static %}
{% block container %}

<div class="flex-container-middle">
    <div id="app">
        <h1 class="">SUBMIT YOUR STORY</h1>
        <form method="post" action="">
            {% csrf_token %}
            <div class="">
                <div><label for="title">TITLE</label></div>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter the title"
                    style="width: 100%;">
            </div>

            <div class="">
                <div><label for=" body">Story</label>
                </div>
                <textarea name="Text1" cols="70" rows="50" id="body" name="body" placeholder="Tell us your story"
                    name="body"></textarea>
            </div>

            <div class="">
                <div><label for="name">Name</label></div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Author Name">
            </div>

            <button class="btn btn-primary my-3" type="submit">Submit</button>
        </form>
    </div>
</div>


{% endblock container %}